

*{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background: rgb(252, 215, 221);
    color: #130f40;
    font-size: 20px;
    text-align: center;
}


.input_cont{
    background-color:rgb(212, 212, 212);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    padding:40px;
  
  
}


.input_header{
   display: flex;
   align-items: flex-start;
   padding: 10px 0 5px 0;
   font-size: 18px;
}

input{
    height: 40px;
    width: 100%;
    background: whitesmoke;
    color: #130f40;
    padding: 0 20px;
    margin: 12px 0;
    font-size: 16px;
    border: none;
}



  input[type=text]::placeholder {
   font-size: 14px;
  
  }
/*
  input[type='file']{
    background-color: transparent;
    padding: 0;
    border: none;
  }*/


input[type="submit"]{
    display: inline-block;
    width: 100%;
    margin: 24px 0;
    padding: 12px 24px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border: 1px solid rgb(248, 163, 175);
    cursor: pointer;
    background-color: whitesmoke;
    color: #130f40;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all .2s;
}


input[type="submit"]:hover{
    background-color: rgb(248, 163, 175);
    color: white;

}

.user_info{
    background-color:rgb(212, 212, 212);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    padding:40px;
    text-align: left;
}

.user_info img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
    object-fit: contain;
    object-position: contain;
}

.name{
    color: #130f40;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 0px;
}

